* {
  margin: 0;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: yellow;
  border-bottom: 1px solid black;
}

.header_link {
  width: 150px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.list {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.list_item {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.list_item:hover {
  background-color: yellow;
  transform: scale(101%);
}

